#!/bin/sh
#
# An example hook script that is called after a successful
# commit is made.
#
# To enable this hook, rename this file to "post-commit".

cur_dir=`pwd`
echo "cur_dir is $cur_dir"
cd src
echo $(pwd)
source ./component-ci
cd $cur_dir

: Nothing
